doctype html
html
    head
        meta(charset="utf-8")
        title Test page
    body
        h1 Localised versions of #[code test.pug]
        quote.
            Let's talk about #{apples.num} #{apples.type} apple(s) and #{pears.num} #{pears.type} pear(s) in a way that makes more sense.
        p Locale is "#{locale}"
        p=__n("What would you say if I gave you %s %%s apple?", "What would you say if I gave you %s %%s apples?", apples.num, __(apples.type))
        p=__n("What would you say if I gave you %s %%s pears?", "What would you say if I gave you %s %%s pears?", pears.num, __(pears.type))

